#navbarNav {
  font-size: 20px;
  font-family: "Lemon", cursive;
}
footer {
  background-color: rgb(55, 169, 207);
  text-align: center;
  padding-bottom: 1rem;
}

form {
  background-color: black;
  color: white;
}
#Order {
  background-color: grey;
}
#card {
  display: inline;
  display: none;
}
#ordersTaken {
  display: none;
}
