
h1{
    text-align: center;
  color: rgb(224, 11, 11);
  font-size:30px ;
}
h2,h5{
    text-align: center;
    color: rgb(12, 61, 223);
    font-size: 25px;
    padding-left:20px ;
}
p{
    text-align: left;
    color: rgb(39, 211, 48);
    font-size: 20px;
    padding-left:20px ;
}

.container form {
  background-color: grey;
  color: white;
}
form {
  display: block;
  margin-top: 0em;
}

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Hanalei+Fill&display=swap");

body {
  background-image: url("/img/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container-fluid {
  color: white;
  font-family: "Ultra", serif;
  text-align: center;
  float: center;
}
#navbarNav {
  font-size: 20px;
  font-family: "Lemon", cursive;
}
.card {
  background-color: transparent;
  float: left;
}
.card1 {
  float: right;
}
.container-fluid :hover {
  color: blue;
  text-decoration: underline;
}

