body {
    font-family: 'Roboto Condensed', sans-serif;
}
#head {
   background-color: blue; 
   text-align: center;
}
#whoWeAre, #note {
    text-align: center;
}
#safety {
    background-image: url('../images/liz-weddon-aqsqEoJnLfU-unsplash.jpg');
    height: 20vh;
    color: white;
    text-align: center;
}
#safe {
    margin-top: 3rem;
}