
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Hanalei+Fill&display=swap');

body{
    background-image: url("/img/1.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.container-fluid{
    color: white;
    font-family: 'Ultra', serif;

}

