
.container form {
    background-color:grey;
    color: white;
  }
  form {
    display: block;
    margin-top: 0em;
}


@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Hanalei+Fill&display=swap');

body{
    background-image: url("/img/1.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.container-fluid{
    color: white;
    font-family: 'Ultra', serif;
    text-align: center;
    float:center;

}
#navbarNav{
    font-size: 20px;
    font-family: 'Lemon', cursive;
}
.card{
    background-color: transparent;
    float: left;
}
.card1{
    float: right;
}


